:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
.container {
  height: 100vh;
  background-color: #fff;
  width: 100%;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  height: 85px;
  background-color: #fff !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
.header-logo {
  position: relative;
}
.header-logo a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header-logo a span {
  /* background-color: #fff; */
  color: #fff;
  padding-right: 10px;
}
.header-logo a::after {
  position: absolute;
  top: 50%;
  left: -6px;
  width: 40px;
  height: 40px;
  content: "";
  background: #3e64ff;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 50%;
  height: 150%;
}
.header-menu ul li {
  display: inline-block;
  padding: 0 10px;
}
.header-menu ul li a {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.header-menu ul li a {
  cursor: pointer !important;
  position: relative;
}
.header-menu ul li a span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  /* display: none; */
  transition: all 0.2s ease-in-out 0s;
  background-color: #3e64ff;
  visibility: hidden;
  transform: scaleX(0);
}
.header-menu ul li a:hover span::before {
  visibility: visible;
  transform: scaleX(1);
}
.home {
  /* position: relative; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  width: 50%;
  height: 100vh;
  background: #3e64ff;
}
.home-text {
  color: #000000;
  text-align: center;
}
.home-text span {
  font-size: 30px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
}
.home-text h1 {
  font-size: 60px;
  font-weight: 800;
}
.home-text h2 {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
}
.home-text h2 span {
  font-size: 16px;
}
.home-text h2 span span {
  font-weight: 780;
  transition: all 0.3;
  font-size: 1.5em;
}
.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  z-index: 2;
}
.mouse-wheel {
  color: #3e64ff;
  font-size: 30px;
}
.mouse-icon {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.mouse-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #edf0ff;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow-round-down::before {
  content: "\f118";
  display: inline-block;
  font-family: "Ionicons";
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about-me {
  width: 100%;
  padding-top: 0.1%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  background-color: #fff;
  height: 91vh;
}
.img-info {
  display: flex;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  height: 90.5vh;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.img-info .img {
  background-image: url(./img/IMG_0880.JPG);
  background-size: cover;
  width: calc(100% - 130px);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.info {
  padding: 48px 0 48px 48px;
}
.info h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #000000;
  line-height: 1.5;
}
.info p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #999999;
}
.info ul li {
  list-style: none;
  padding: 10px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info ul li span:first-child {
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
}
.info ul li span:last-child {
  color: #999999;
  width: calc(100% - 130px);
}
.text span:first-child {
  color: #3e64ff;
  font-weight: 600;
  font-size: 20px;
}
.text {
  margin-top: 20px;
}
.text P {
  margin-bottom: 50px;
}
.text span:last-child {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}
.text-btn {
  background: #3e64ff;
  border: 1px solid #3e64ff !important;
  color: #fff !important;
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 20px 25px;
  text-decoration: none !important;
  transition: all 0.5s;
  outline: none;
}
.text-btn:hover {
  color: #000000 !important;
}
.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.technology img {
  width: 13%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  padding: 0 20px;
}
.technology img:not(:last-child) {
  margin-right: 20px;
}
